body {
    margin: 0;
    background: #222;
    font-family: system-ui;
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #141414;
    padding: 30px;
    border-radius: 40px;
}

.tw-follow-text {
    color: #fff;
}